body {
  color: black;
  font-family: Helvetica;
  margin: 0;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.header {
  background-color: white;
  border-bottom: 1px solid black;
  height: 50px;
  padding: 2em 0 0;
  width: 100%;
}

.pilot {
  background-color: darkcyan;
  border-radius: 3px;
  color: white;
  margin-bottom: 1em;
  padding: 1em;
}

@media(min-width: 1008px) {
  .container {
    width: 1008px;
  }
}
